body{
    border: 1px solid black;
    text-align: center;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 20px;
    height: fit-content;
}

#home{
    border: 1px solid transparent;
    border-radius: 12px;
    padding: 3px;
}

#home:hover{
    color: white;
    background-color: blue;
    transition: 0.25s;
}